html
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


header
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

div
{
    display: inline-block;
}

div nav ul li
{
    display: inline-block;
    margin-left: 3.2rem;
    list-style-type: none;
}

.welcome_msg
{
    width: 100%;
    text-align: center;
}

ul
{
    width: 100%;
    padding-left: 0;
}

a
{
    text-decoration: none;
    font-size: 1.5rem;
}

body
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

img{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 1.2rem;
}

section
{
    width: 100%;
    margin-top: 0;
}

#user_id
{
    text-transform: capitalize;
}
