/**
 * To fix text adjust issues in portrait 
 * and landscape mode across browsers 
 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* To fix box-sizing issues across browsers */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

/* Keeping all containers at max-width of 1920px */
.header_container,
.dashboard_container,
.footer {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin-bottom: 0.5rem;
    background-color: $headerAndFooterBackgroundColor;

    .toggle {
        padding: 1rem;
        display: none;
    }

    .wayfinding {
        background-color: rgb(209, 23, 23, 0.5);
    }

    .fresh {
        margin-top: 0;
        margin-bottom: 0;
        padding: 1rem;

        h1 {
            font-size: 1.5rem;
            margin-top: 0.3rem;
            margin-bottom: 0;
        }

        h1:hover {
            color: #86e983;
        }
    }

    a {
        text-decoration: none;
        color: white;
    }

    li {
        list-style-type: none;
    }

    .hamburger_button {
        .hamburger_parent {
            width: 50px;
            height: 35px;
            padding: 1px;
            margin-left: auto;
        }

        .hamburger_parent div {
            width: 35px;
            height: 4px;
            background-color: rgb(255, 255, 255);
            transition: 0.5s;
            margin: 5px auto;
        }

        .display .first {
            transform: translate(0, 11px) rotate(-45deg);
        }

        .display .middle {
            opacity: 0;
        }

        .display .last {
            transform: translate(0, -6px) rotate(45deg);
        }
    }

    .hamburger_items {
        background-color: $hamburgerItemsBackgroundColor;
        padding: 0.6rem;
        margin-top: 0;
        margin-bottom: 0;

        .hamburger_svg,
        .user_svg_fill {
            float: left;
            margin-right: 2rem;
            margin-left: 0.5rem;
        }

        .ham {
            float: left;
        }
        
        .profile {
            padding-left: 0.18rem;
        }

        h1 {
            font-size: 1.2rem;
            margin: 0;
            padding: 0.4rem;
        }

        li:nth-child(4) {
            margin-bottom: 0.5rem;
        }

        li:nth-child(5) {
            margin-top: 0.5rem;
        }

        .parent_mobile {
            width: 50px;
            height: 20px;
            background-color: rgb(255, 255, 255);
            border-radius: 0.9rem;
            box-shadow: 0 0 0.4rem;
            padding: 2px;
            cursor:pointer;
            margin-left: 0.2rem;
            margin-top: 0.5rem;
        }

        .child_mobile {
            background-color: rgb(0, 0, 0);
            width: 21px;
            height: 16px;
            border-radius: 0.9rem;
            transition: 1s;
        }
    }
}

// Header positioning 
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* Stay on top */
    z-index: 1; 

    .hamburger_items {
        position: fixed;
        left: 0;
        right: 80px;
        height: 100%;
    }
} // end

/**
 * Toggled by index.js on hamburger
 * click event
 */
.fade_out {
    opacity: 0.3;
}/* end */

/* Header Extension */
.header_extension {
    padding-right: 0.45rem;
}

header {
   .search_icon,
    .search_parent_container,
    .shopping_cart_icon,
    .notification_message_container {
        float: left;
    }

    .search_parent_container {
        width: 80%;
        margin-left: 5%;

        input {
            font-size: 1.2rem;
            width: 100%;
            box-shadow: 0 0 0.3rem;
        }
    }

    .search_icon {
        background-color: rgb(199, 11, 11);
        width: 10%;
        padding-bottom: 0.25rem;
        box-shadow: 0 0 0.3rem;

        svg {
            fill: white;
        }
    }

    .shopping_cart_icon {
        background-color: #86e983;
        width: 10%;
        margin-top: 0.85rem;
        padding-bottom: 0.1rem;
        box-shadow: 0 0 0.3rem;
    }

    .notification_message_container {
        width: 80%;
        margin-top: 0.8rem;
        background-color: white;
        margin-left: 5%;
        margin-bottom: 0.3rem;
        
        p {
            font-size: 1.3rem;
            margin: 0;
            border: 0.1rem ridge black;
            box-shadow: 0 0 0.3rem;
        }
    }

    svg {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

.visibility {
    visibility: hidden;
}
/* end */

.dashboard_container {
    width: 100%;

    h3,
    h2, 
    p {
        text-align: center;
        font-size: 1.3rem;
        margin: 0;
        padding: 0.1rem;
    }

    img {
        width: 100%;
        height: 15rem;
    }

    ol {
       li {
        font-size: 1.3rem;
        line-height: 3;
       } 
    }

    input,
    button {
        width: 100%;
    }

    .hide {
        display: none;
    }
} 

.section_and_aside {
    margin-left: auto;
    margin-right: auto;
    padding: 0.6rem;
    margin-top: 9rem;

    .time_section {
        padding: 0.6rem;
    
        p {
            margin-bottom: 1rem;
            margin-top: 1rem;
        }

        article {
            background-color: rgba(69, 87, 223, 0.5);
            padding: 0.3rem;
            width: 100%;
            height: auto;
       }
    }

    aside {
        padding: 0.6rem;

        section {
            background-color: rgba(135, 90, 47, 0.5);
            padding: 1.2rem 0.8rem;

            article {
                width: 100%;
            }
        }

        p {
            margin: 1rem 0;
        }
    }

    ul li {
        font-size: 1.3rem;
        line-height: 2;
        color: rgb(124, 19, 73);
        text-transform: capitalize;
    }

    label,
    input,
    button {
        font-size: 1.3rem;
    }
}

main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 90%;
    padding: 0.2rem;

    article {
        width: 100%;
        height: auto;
        padding: 1.8rem;

        section {
            width: 100%;
            height: 21rem;

            .price_and_name_container {
                background-color: rgb(224, 193, 135);
                border-radius: 0 0 0.8rem 0;
            }
        }
    }

    article:nth-child(even) section {
        background-color: rgb(142, 200, 193);
    }

    article:nth-child(odd) section {
        background-color: rgb(242, 105, 148);
    }
}

.general_container {
    border-radius: 0 0 3rem 1rem;

    .add_icon_parent,
    .item_counter_parent,
    .remove_icon_parent {
        float: left;
    }

    .add_icon_parent {
        width: 30%;
        padding-top: 0.7rem;
        cursor: pointer;

        div:nth-child(1) {
            background-color: rgb(0, 0, 0);
            height: 0.3rem;
            width: 1.5rem;
            transform: translate(0, 0.3rem) rotate(-90deg)
        }

        div {
            margin: 0 auto;
        }

        div:nth-child(2) {
            background-color: rgb(0, 0, 0);
            height: 0.3rem;
            width: 1.5rem;
        }
    }

    .item_counter_parent {
        width: 40%;
        padding-bottom: 0.2rem;
        padding-top: 0.5rem;

        p {
            margin: 0;
            width: 35%;
            text-align: center;
            margin: 0 auto;
            border-radius: 1rem;
            background-color: rgb(255, 255, 255);
            font-size: 1rem;
            text-align: center;
        }
    }

    .remove_icon_parent {
        width: 30%;
        padding-top: 1rem;
        cursor: pointer;

        div {
            background-color: rgb(0, 0, 0);
            height: 0.3rem;
            width: 1.5rem;
            margin: 0 auto;
        }
    }
}

.toggle_display {
    .item_counter_parent,
    .remove_icon_parent {
        display: none;
    }
}

footer {
    margin-top: 3rem;
    background-color: $headerAndFooterBackgroundColor;
    color: white;
    text-align: center;

    p {
        font-size: 1.4rem;
        text-transform: capitalize;
    }
     
    article {
        padding: 0.8rem;
    }

    article:nth-of-type(1) {
        width: 100%;
    }
}


/**
 * checkout.html page
 */
 
.preamble {
    margin-top: 10rem;

    p {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.2rem;
    }
}


.items_in_cart {
    h3 {
        margin-top: 2rem;
        text-align: center;
        font-size: 1.2rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-transform: uppercase;
    }

    table {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        box-shadow: 0 0 0.5rem;
    
        th,
        td {
            border: 0.1rem ridge red;
            text-align: center;
            font-size: 1.2rem;
        }
     }
 }

.calculator {
    margin-top: 3rem;

    h3 {
        text-align: center;
        font-size: 1.2rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-transform: uppercase;
     }

    table {
        margin-left: auto;
        margin-right: auto;
        border: 0.1rem ridge rgb(185, 26, 148);
        width: 80%;
        box-shadow: 0 0 0.5rem;
    }

    td,
    th {
        width: 15rem;
        height: 4rem;
        text-align: center;
        color: white;
        cursor: pointer;
        font-size: 1.3rem;
    }

    td {
        background-color: rgb(231, 9, 94);
    }

    p {
        width: 100%;
        height: 100%;
        font-size: 1.2rem;
        color: black;
        margin: 0;
        padding-top: 1.2rem;
        padding-bottom: 0.2rem;
        background-color: white;
    }
}

.button_container {
    margin-top: 3rem;

    .proceed_to_payment_button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.3rem;
        box-shadow: 0 0 0.3rem;
        background-color: rgb(150, 218, 114);
        cursor: pointer;
     }
}
 /* end */

/* Float Layout Design */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    .fresh {
        li {
            float: left; 
        }

        li:nth-child(1) {
            width: 80%;
        }

        li:nth-child(2) {
            width: 20%;
        }

        img {
            margin-top: 0.5rem;
        }
    }
}

.footer {
    article {
        float: left;
        width: 100%;
    }
}

main {
    article {
        float: left;
    }
}