/* dashboard.html */
.dashboard_body {
    section {
        grid-column-start: 1;
        grid-column-end: span 4;
        padding: 0.4rem;
    }

    aside {
        grid-column-start: 1;
        grid-column-end: span 4;
    }

    main {
        grid-column-start: 5;
        grid-column-end: span 8;
        grid-row-end: span 2;
        grid-row-start: 2;
    }
    main article {
        grid-column-start: span 6;
    }
}