#top_div {
    display: none;
}

#header_large {
    display: block;
}

.header_ul {
    padding: 0.8rem;
    margin: 0;

    li {
        float: left;
    }

    li:nth-child(2),
    li:nth-child(4),
    li:nth-child(5),
    li:nth-child(6) {
        width: 12.5%;
    }

    li:nth-child(5) {
        padding-top: 1.8rem;

        .toggle_switch {
            display: block;
            margin-left: auto;
        }
    }

    li:nth-child(3) {
        width: 20%;
    }

    li:nth-child(1) {
        width: 30%;

        h1 {
            text-align: left; 
        }         
    }

    h1 {
        text-align: right;
    }

    img {
        padding-top: 1.2rem;
    }

    li:nth-child(2),
    li:nth-child(3),
    li:nth-child(4) {
        h1 {
            font-size: 1.4rem;
            padding-top: 0.8rem;
        }
    }
}

.footer {
    article {
        height: auto;
    }

    .art,
    .art:nth-child(10) {
        width: 33.33333%;
    }
}

.dashboard_container {
    main {
        width: 100%;
    
        article{
           width: 33.3333333%;
        }
    }

    .section_and_aside {
        .time_display,
        aside {
            float: left;
        }
    
        .time_display {
            width: 40%;
            height: 20rem;
        }
    
        aside {
            width: 60%;
        }
    }
}
