main {
    width: 60%;
}

.footer {
    .art {
        grid-column-start: span 3;
    }

    article:nth-of-type(10) {
        grid-column-start: span 12;
    }
}

/* dashboard.html */
.dashboard_body {
    section {
        grid-column-start: span 5;
        padding: 0.4rem;
    }

    aside {
        grid-column-start: span 7;
    }


    main article {
        grid-column-start: span 4;
    }
}