/* To fix text adjust issues in portrait and landscape mode across browsers */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* To fix box-sizing issues across browsers */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, min-content) auto max-content;
    grid-row-gap: 1rem;
    margin-top: 0;

    /* Index (index.html) and Register (register.html) Design */
    .center_main {
        align-self: center;
    }
}

/* Index (index.html) Design */
.index_body {
    background-color: rgba(200, 252, 191, 0.5);
    grid-template-rows: min-content auto max-content;
    row-gap: 0;
    
    main img {
        width: 100%;
        height: auto;
    }
}/* End of Index (index.html) Design */

/* Keeping all containers at max-width of 1920px */
.header_container,
.main,
.aside,
.dashboard_container,
.footer {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

/* Header Design */
header {
    background-color: rgba(0, 0, 0, 0.8);
    grid-column-start: 1;
    grid-column-end: 13;

    /* Nested Grid */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.header_container {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 13;

    img {
        cursor: pointer;
        width: 100%;
        height: 2.8rem;
    }

    .header_large {
        display: none;
    }

    /* Nested Grid */
    .fresh {
        padding-left: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
    }

    .fresh li:nth-of-type(1) {
        grid-column-start: 1;
        grid-column-end: 11;
        list-style-type: none;
        padding-left: 0.8rem;
    }

    h1,
    a {
        text-decoration: none;
        color: white;
        font-size: 1.7rem;
    }

    .fresh li:nth-of-type(2) {
        grid-column-start: 11;
        grid-column-end: 13;
        list-style-type: none;
        justify-self: end;
        padding-right: 0.8rem;
    }

    /* Hamburger Button Menu Design */
    .harmbuger_items {
        background-color: rgba(32, 21, 4, 0.5);
        padding-left: 0;
        padding: 0.2rem;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, min-content);

        li {
            grid-column-start: span 12;
            list-style-type: none;
        }

        h1,
        img {
            text-align: center;
        }

        li:hover {
            background-color:  rgba(10, 77, 79, 0.5);
        }

        h1 {
            font-size: 1.4rem;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .open {
       display: none;
    }/* End of Hamburger Items */
}
/* End of Header Design */

/* Dashboard (dashboard.html) Design */
.dashboard_body {
    grid-template-rows: min-content auto max-content;
}

.dashboard_container {
    grid-column-start: 1;
    grid-column-end: 13;

    /* Nested Grid */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, max-content) auto;
    grid-row-gap: 1rem;

    section {
        width: 90%;
        grid-column-start: span 12;
        justify-self: center;

        p {
            border: 0.2rem ridge black;
            border-radius: 1rem;
            font-size: 1.5rem;
            text-align: center;
            padding: 0.5rem 0.5rem;
        }

        hr {
            border: 0.1rem ridge rgb(0, 0, 0);
        }
    }

    aside {
        width: 90%;
        background-color: rgba(184, 136, 32, 0.5);
        grid-column-start: span 12;
        font-size: 1.5rem;
        justify-self: center;

        h2,
        p {
            font-size: 1.5rem;
            text-align: center;
        }

        ol li {
            font-size: 1.5rem;
            line-height: 3;
        }

        button,
        input {
            width: 100%;
            font-size: 1.5rem;
        }

        .hide {
            display: none;
        }

    }

    main {
        grid-column-start: span 12;

        /* Nested Grid */
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        img {
            width: 100%;
            height: 60%;
        }

        article:nth-of-type(even) {
            background-color: rgb(165, 42, 42, 0.5);
        }

        article:nth-of-type(odd) {
            background-color: rgb(18, 156, 34, 0.5);
        }
        
        article {
            grid-column-start: span 12;
            margin: 0.7rem;
            border: 0.2rem ridge black;
        }

        h3,
        p {
            text-align: center;
            font-size: 1.4rem;
        }
    }

    .welcome_msg {
        color: white;
        text-align: center;
    }
}
/* End of Dashboard (dashboard.html) Design */

/* Aside Design */
aside {
    grid-column-start: 1;
    grid-column-end: 13;
    padding: 0.4rem;

    p {
        font-size: 1.5rem;
        padding: 0 2rem;
    }
}/* End of Aside Design */

/* Main Design */
main {
    grid-column-start: 1;
    grid-column-end: 13;
    padding: 0.2rem;

    form {
        padding: 1rem;
        width: 100%;
    }

    input {
        width: 100%;
    }

    /* Register (register.html) Specific Design */
    .checkbox_label,
    legend {
        font-size: 1.3rem;
    }

    #id_status {
        width: 4rem;
        height: 1.2rem;
        margin: 0;
    }

    h1 {
        text-align: center;
    }

    input,
    label,
    p {
        font-size: 1.4rem;
    }

    .feedback {
        display: none;
    }/* End of Register (register.html) Specific Design*/

}/* End of Main Design */

/* Footer Design */
footer {
    background-color: rgba(0, 0, 0, 0.8);
    grid-column-start: 1;
    grid-column-end: 13;

    /* Nested Grid */
    section {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        justify-items: center;
    }

    article:nth-of-type(1) {
        width: 100%;
        text-align: center;
    }

    article {
        grid-column-start: span 12;
    }

    p {
        font-size: 1.6rem;
        color: white;
        text-transform: capitalize;
    }
}/* End of Footer Design */