html,
body {
    max-width: 1920px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: min-content repeat(2, auto) max-content;
    grid-row-gap: 1rem;
    margin-top: 0;
    
}

header {
    background-color: rgb(19, 113, 196);
    grid-column-start: 1;
    grid-column-end: 13;

    .header_large {
        display: none;
    }

    .fresh {
        padding-left: 0.8rem;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
    }

    .fresh li:nth-of-type(1) {
        grid-column-start: 1;
        grid-column-end: 11;
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }

    .fresh li:nth-of-type(2) {
        grid-column-start: 11;
        grid-column-end: 13;
        list-style-type: none;
    }
}

aside {
    background-color: aqua;
    grid-column-start: 1;
    grid-column-end: 13;
    padding: 0.4rem;
}

main {
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 13;
    padding: 0.4rem;

    form {
        box-sizing: border-box;
        padding: 1rem;
        width: 100%;
    }

    input {
        box-sizing: border-box;
        width: 100%;
    }

    h1 {
        text-align: center;
    }

    input,
    label {
        font-size: 1.4rem;
    }
}

footer {
    background-color:  rgb(236, 201, 7);
    grid-column-start: 1;
    grid-column-end: 13;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;

    article {
        grid-column-start: span 1;
    }

    p {
        font-size: 1.9rem;
    }
}