* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    max-width: 1920px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, min-content) auto max-content;
    grid-row-gap: 1rem;
    margin-top: 0;
    
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    grid-column-start: 1;
    grid-column-end: 13;

    .header_large {
        display: none;
    }

    .fresh {
        padding-left: 0.8rem;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
    }

    .fresh li:nth-of-type(1) {
        grid-column-start: 1;
        grid-column-end: 11;
        list-style-type: none;
    }

    h1,
    a {
        text-decoration: none;
        color: white;
        font-size: 1.7rem;
    }

    .fresh li:nth-of-type(2) {
        grid-column-start: 11;
        grid-column-end: 13;
        list-style-type: none;
    }
}

aside {
    //background-color: aqua;
    grid-column-start: 1;
    grid-column-end: 13;
    padding: 0.4rem;

    p {
        font-size: 1.5rem;
    }
}

main {
    //background-color: red;
    grid-column-start: 1;
    grid-column-end: 13;
    padding: 0.4rem;

    form {
        padding: 1rem;
        width: 100%;
    }

    input {
        width: 100%;
    }

    h1 {
        text-align: center;
    }

    input,
    label {
        font-size: 1.4rem;
    }
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    grid-column-start: 1;
    grid-column-end: 13;

    // Nested grid
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;


    article:nth-of-type(1) {
        width: 100%;
        text-align: center;
    }

    article {
        grid-column-start: span 12;
    }

    p {
        font-size: 1.6rem;
        color: white;
        text-transform: capitalize;
    }
}