/* .dashboard_container {
    main {
        flex-direction: row;
        flex-wrap: wrap;


        article {
            flex-basis: 25%;
        }
    }
}   */

.footer {
    .art {
        flex: auto;
    }
}