.footer {
    article {
        width: 50%;
        height: 8rem;
    }

    article:nth-child(10) {
        width: 100%;
    }
}

.center_main {
    h1 {
        font-size: 1.7rem;
    }

    form {
        padding: 3rem;
    }
}

.dashboard_container {
    main {
        width: 100%;
        margin: 0 auto;
    
        article{
           width: 50%;
           height: auto;
        }
    }
}

// checkout.html
.button_container {
    .proceed_to_payment_button {
       width: 55%;
     }
}

// Pasword visibility
@media only screen and (width >= 768px) {
    #form {
        .password,
        .confirm_password {
            width: 90%;
        }
    }
}