$indexBodyBackgroundColor: rgba(200, 252, 191, 0.5);
$headerAndFooterBackgroundColor:  rgba(0, 0, 0, 0.8);
$hamburgerItemsBackgroundColor: rgba(98, 84, 3, 0.5);
$hamburgerItemsHoverColor: rgba(0, 0, 0, 0.5);