@use "sass:math";

@import "main";


@media only screen and (width > 412px) {
  footer {
    width: 100%;
    background-color: rgb(0, 0, 0, 0.8);
  }

  #footer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    color: white;
  }

  .to_top {
    text-align: center;

    p {
        font-size: 1.4rem;
    }
  }

  article.inner_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    section {
      flex-basis: math.div(1,2) * 100%;
    }

    section:nth-child(9) {
      flex-grow: 2;
    }

    section p {
      text-align: center;
      font-size: 1.4rem;
      text-transform: capitalize;
      padding: 0.2rem;
    } 
  }
}

@media only screen and (width >= 768px) {
  .header {
    h2 {
      font-size: 1.45em;
      flex-grow: 2;
    }
  }

  section.container {
    flex-wrap: nowrap;
  }

  #aside {
    flex-basis: 40%;
  }
}

@media only screen and (width >= 912px) {

  div.header,
  .container,
  #footer {
    width: 80%;
  }

  .header {
    h2 {
      font-size: 1.45em;
      flex-grow: 2;
    }
  }

  #top_div {
    display: none;
  }

  .container {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  #aside {
    flex-basis: 30%;
  }

  #header_large {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  ul.header_ul {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    li {
      list-style-type: none;
    }

    li:nth-child(1) {
      flex-grow: 2;
    }

    li:nth-child(2),
    li:nth-child(3),
    li:nth-child(4) {
        margin-right: 2rem;
    }
  }

  /*
    .other_items {
      display: flex;
      align-items: center;
      justify-content: center;


      article>h1 {
        text-align: left;
        font-size: 1.3rem;
      }
      article:nth-child(1),
      article:nth-child(2),
      article:nth-child(3) {
        margin-right: 4rem;
  } */

  #svg_large {
    height: 2rem;
    width: 100%;
  }


  #footer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    color: white;
  }

  .to_top {
    text-align: center;

    p {
        font-size: 1.4rem;
    }
  }

  article.inner_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

  section {
      flex: auto;
    }

   /*  section:nth-child(9) {
      flex-grow: 2;
    } */

    section p {
      text-align: center;
      font-size: 1.4rem;
      text-transform: capitalize;
      padding: 0.2rem;
    } 
  }
}